﻿.x-menu-btn-text{
    color:#222222;
	display:block;
	outline-color:-moz-use-text-color;
	outline-style:none;
	outline-width:0;
}

.x-menu-btn-text.x-btn-over{
    color:#233D6D;
}

.x-menu-btn-wrap{
    background: none;
    border:1px solid transparent;
}

/* todo - referencing extjs stuff from here is brittle - not sure what to do at the moment otherwise I would do it */
.x-menu-btn-wrap.x-btn-over{
    background:#EBF3FD url(/Media/ui_frameworks/ext-3.4.0/resources/images/default/menu/item-over.gif) repeat-x scroll left bottom;
	border:1px solid #AACCF6;
	padding:0;
}
