<html>
<body>
    <img width="30" height="30" style="padding-top: 3px; padding-left:2px;" src="Media/images/eas-logo.png">&nbsp;Enterprise Addressing System<br>
    <br>
    {% block message %}
    The EAS is temporarily unavailable but should be back online shortly.
    {% endblock %}
</body>
</html>